#go-button {
    float: left;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background: #f6f6f6;
    margin: 20px 10px;
}

#result {
    clear: both;
    float: left;
    background: #ffffff;
}

.nth_result {
    clear: both;
    float: left;
    background: steelblue;
    opacity: 0.9;
    border-color: grey;
    border: solid 1px;
    margin: 3px 10px;
    padding: 0 5px;
    height: 40px;
}

#result p {
    font-family: courier;
    font-size: 14;
}
