.control-button {
    float: left;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background: #f6f6f6;
    margin: 20px 20px;
}

#result {
    clear: both;
    float: left;
    background: #ffffff;
}

.heading {
    text-align: center;
}

.nth_result {
    clear: both;
    float: left;
    background: steelblue;
    opacity: 0.9;
    border-color: grey;
    border: solid 1px;
    margin: 3px 20px;
    padding: 5px 5px;
    width: 400px;
}

.nth_result_mem {
    float: left;
    background: lightseagreen;
    opacity: 0.9;
    border-color: grey;
    border: solid 1px;
    margin: 3px 20px;
    padding: 5px 5px;
    width: 400px;
}

.timeout {
    background-color: lightred;
}

#result {
    font-family: courier;
    font-size: 14;
}
